<template></template>
<div class="page">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <link rel="stylesheet" href="css/estilo.css">
                    <i class="icon icon-back"></i>
                    <span class="if-not-md">Back</span>
                </a>
            </div>
            <div class="title">TECNOCHALUPA VOCACIONAL</div>
            <div class="right">
                <a href="/" class="homeppal">
                    <link rel="stylesheet" href="css/estilo.css">
                    <i class="f7-icons">house</i>
                    <span>INICIO</span>
                </a>
            </div>
        </div>
    </div>

    <div class="page-content" id="fondoIndicio">

        <a href="/ruleta/" class="btnVolver button button-large button-raised button-fill " id="botonBackRuleta">Volver
			a la Ruleta</a>
        <div class="aver"></div>
        <h2 class="card" id="cardindicio">Es una carrera que facilita al protagonista administrar un negocio o pequeñas empresas con procedimientos técnicos administrativos.</h2>

        <ul class="galeria">
            <li class="galeria__item"><img src="img/animador/2.webp" class="galeria__img"></li>
            <li class="galeria__item"><img src="img/animador/4.webp" class="galeria__img"></li>
            <li class="galeria__item"><img src="img/animador/7.webp" class="galeria__img"></li>
            <li class="galeria__item"><img src="img/animador/3.webp" class="galeria__img"></li>
            <li class="galeria__item"><img src="img/animador/1.webp" class="galeria__img"></li>
            <li class="galeria__item"><img src="img/animador/8.webp" class="galeria__img"></li>
            <li class="galeria__item"><img src="img/animador/5.webp" class="galeria__img"></li>
            <li class="galeria__item"><img src="img/animador/6.webp" class="galeria__img"></li>
            <li class="galeria__item"><img src="img/animador/11.webp" class="galeria__img"></li>
            <li class="galeria__item"><img src="img/animador/9.webp" class="galeria__img"></li>
            <li class="galeria__item"><img src="img/animador/10.webp" class="galeria__img"></li>
            <li class="galeria__item"><img src="img/animador/12.webp" class="galeria__img"></li>
            <li class="galeria__item"><img src="img/animador/15.webp" class="galeria__img"></li>
            <li class="galeria__item"><img src="img/animador/14.webp" class="galeria__img"></li>
            <li class="galeria__item"><img src="img/animador/18.webp" class="galeria__img"></li>
            <li class="galeria__item"><img src="img/animador/13.webp" class="galeria__img"></li>
            <li class="galeria__item"><img src="img/animador/16.webp" class="galeria__img"></li>
            <li class="galeria__item"><img src="img/animador/21.webp" class="galeria__img"></li>
            <li class="galeria__item"><img src="img/animador/19.webp" class="galeria__img"></li>
            <li class="galeria__item"><img src="img/animador/17.webp" class="galeria__img"></li>
            <li class="galeria__item"><img src="img/animador/20.webp" class="galeria__img"></li>
        </ul>
        <!-- 				<div id="pregunta"></div>
				<div id="respuestas"></div> -->

        <!-- 		<input type="button" class="btnGirar button button-fill color-green" value="Comprobar Respuesta" @click="comprobar">
		 -->
        <!-- <a href="#" class="btnVolver button button-large button-raised button-fill color-green" @click="comprobar">Comprobar Respuesta</a> -->
    </div>
</div>
</template>
<script>
    return {
        data: function() {
            return {

            }
        },
        methods: {
            playMusic: function() {
                var self = this;
                audioPrueba.play();
            },
            muteMusic: function() {
                var self = this;
                audioPrueba.pause();
            }
        },
        on: {
            pageInit: function(page) {
                var self = this;

                $('.galeria__img').click(function(e) {
                    var img = e.target.src; //se selecciona la foto a la que se hace click (target) y su ruta (src)
                    console.log(img);
                    var modal = '<div class="modal" id="modal"><img src="' + img + '" class="modal__img"><div class="modal__boton" id="modal__boton">X</div></div>';
                    $('.aver').append(modal);
                    $('#modal__boton').click(function() {
                        $('#modal').remove();
                    })
                })

                $(document).keyup(function(e) {
                    if (e.which == 27) {
                        $('#modal').remove();
                    }
                })

            }
        }
    }
</script>