<template></template>
<div class="page">
	<div class="navbar">
		<div class="navbar-inner sliding">
<!-- 			<div class="left">
				<a href="#" class="link back">
					<link rel="stylesheet" href="css/estilo.css">
					<i class="icon icon-back"></i>
					<span class="if-not-md">Back</span>
				</a>
			</div> -->
            <div class="title">Gastronomia</div>
            <div class="right">
                    <a href="/" class="homeppal">
                        <link rel="stylesheet" href="css/estilo.css">
                        <i class="f7-icons">house</i>
                        <span class="if-not-md">Volver</span>
                    </a>
                </div>
		</div>
	</div>
	<div class="page-content">

		<a href="/ruleta/" class="btnVolver button button-large button-raised button-fill ">Volver a la Ruleta</a>
		<div id="pregunta"></div>
		<div id="respuestas"></div>

<!-- 		<input type="button" class="btnGirar button button-fill color-green" value="Comprobar Respuesta" @click="comprobar">
 -->        <a href="#" class="btnVolver button button-large button-raised button-fill color-green" @click="comprobar">Comprobar Respuesta</a>
    </div>
</div>
</template>

<script>
    return {
        data: function () {
            return {
                indicie_respuesta_correcta: 0,
                preguntas: ["¿Que lenguaje que se habla en el municipio?",
                          "¿En que parte del municipio se encuentran  las comunidades miskitas y sumos?",
                           "¿En la parte central del municipio los habitantes en su mayoría son?",
						   
],
                respuestas: [
                    [
                        "Lenguaje Multiétnico y multilingüe",
                        "Solo español",
                        "Ingles",
						"Varios"
                    ],
                    [
                        "Parte norte", 
						"Parte central",
                        "Parte sur ",
						"No existen"
                    ],
                    [
                        "Blancos o mestizos",
                        "Miskitos",
                        "Sumos",
                        "Todos los anteriores"
                    ],
                    
                ]
            }
        },
        methods: {
            jugar: function () {
                var self = this;

                var respuestas = self.respuestas;
                var preguntas = self.preguntas;

                var indice_aleatorio = Math.floor(Math.random() * preguntas.length);
                var alea = Math.random();
                console.log("Número Alea es: ", alea);
                console.log("Número Respuesta Aleatoria es: ", indice_aleatorio);
                var respuestas_posibles = respuestas[indice_aleatorio];
                var posiciones = [0, 1, 2, 3];
                var respuestas_reordenadas = [];

                var ya_se_metio = false;
                for (i in respuestas_posibles) {
                    var posicion_aleatoria = Math.floor(Math.random() * posiciones.length);
                    if (posicion_aleatoria == 0 && ya_se_metio == false) {
                        indicie_respuesta_correcta = i;
                        ya_se_metio = true;
                    }
                    respuestas_reordenadas[i] = respuestas_posibles[posiciones[posicion_aleatoria]];
                    posiciones.splice(posicion_aleatoria, 1);
                }
                var txt_respuestas = "";
                txt_respuestas += '<div class="list"><ul>';
                for (i in respuestas_reordenadas) {
                    txt_respuestas += '<li><label class="item-radio item-content radiosResp"><input type="radio" name="my-radio" value="' + i + '"/><i class="icon icon-radio"></i><div class="item-inner"><div class="item-text textDato">' + respuestas_reordenadas[i] + '</div></div></label></li>';
                }
                txt_respuestas += '</ul></div>';
                document.getElementById("respuestas").innerHTML = txt_respuestas;
                document.getElementById("pregunta").innerHTML = "<h3>" + preguntas[indice_aleatorio] + "</h3>";
            },
            comprobar: function () {
                var self = this;
                var respuesta = $("input[type=radio]:checked").val();

                if (respuesta == indicie_respuesta_correcta) {
                    app.dialog.alert('¡Respuesta correcta!', 'Respuesta Elegida');
                } else {
                    app.dialog.alert('¡Respuesta incorrecta!', 'Respuesta Elegida');
                }
                self.jugar();
            }
        },
        on: {
            pageInit: function (page) {
                var self = this;

                self.jugar();
            }
        }
    }
</script>