<template></template>
<div class="page">
	<div class="navbar">
		<div class="navbar-inner sliding">
<!-- 			<div class="left">
				<a href="#" class="link back">
					<link rel="stylesheet" href="css/estilo.css">
					<i class="icon icon-back"></i>
					<span class="if-not-md">Back</span>
				</a>
			</div> -->
            <div class="title">Gastronomia</div>
            <div class="right">
                    <a href="/" class="homeppal">
                        <link rel="stylesheet" href="css/estilo.css">
                        <i class="f7-icons">house</i>
                        <span class="if-not-md">Volver</span>
                    </a>
                </div>
		</div>
	</div>
	<div class="page-content">

		<a href="/ruleta/" class="btnVolver button button-large button-raised button-fill ">Volver a la Ruleta</a>
		<div id="pregunta"></div>
		<div id="respuestas"></div>

<!-- 		<input type="button" class="btnGirar button button-fill color-green" value="Comprobar Respuesta" @click="comprobar">
 -->        <a href="#" class="btnVolver button button-large button-raised button-fill color-green" @click="comprobar">Comprobar Respuesta</a>
    </div>
</div>
</template>

<script>
    return {
        data: function () {
            return {
                indicie_respuesta_correcta: 0,
                preguntas: ["¿Cuales son los platillos tradicionales de wiwili nueva segovia?",
                          "¿Cuales son los panes preferidos en wiwili nueva segovia?",
                           "¿Cuales dulces se destacan en Wiwili nueva segovia?",
						   "¿Cuales son las bebidas tradicionales en Wiwili nueva segovia?",
                           "¿Enque fecha se realiza el festival de la alegria en Wiwili N,S?"
],
                respuestas: [
                    [
                        "Chilotes en guisos, Tortillas, Tamal pisque, Tamal dulce, Sopa de albóndigas, Sopa de cuajada, Güirilas",
                        "Gallo pinto, Sopa de cuajada, Lomo de cerdo",
                        "Bigoron, Chancho con yuca, Carne asada de cerdo",
						 "Todas las anteriores"
                    ],
                    [
                        "Rosquillas , perrerreque, hojaldras rosquetes, pupusas", 
						"Pan elaborado en panaderias",
                        "Semitas de trigo, galletas ",
						"Todas las anteriores"
                    ],
                    [
                        "Buñuelos, la cusnaca de jocotes, jocote cocido, ayote en miel, panela, almíbares",
                        "La cajeta",
                        "Jalea de mango",
                        " Todas las anteriores"
                    ],
                    [
                        "El tiste, pinolillo, pozol, chingue, horchata, pinol tibio,chicha de maíz, el ron de cususa",
                        "Cacao con leche",
                        "Pinol con leche,fresco de jamaica",
                        "Ninguna de las anteriores"
                    ],
                    [
                        "17 d septiembre",
                        "8 de agosto",
                        "20 de agosto",
                        "Todas las respuestas son incorrectas"
                    ],
                ]
            }
        },
        methods: {
            jugar: function () {
                var self = this;

                var respuestas = self.respuestas;
                var preguntas = self.preguntas;

                var indice_aleatorio = Math.floor(Math.random() * preguntas.length);
                var alea = Math.random();
                console.log("Número Alea es: ", alea);
                console.log("Número Respuesta Aleatoria es: ", indice_aleatorio);
                var respuestas_posibles = respuestas[indice_aleatorio];
                var posiciones = [0, 1, 2, 3];
                var respuestas_reordenadas = [];

                var ya_se_metio = false;
                for (i in respuestas_posibles) {
                    var posicion_aleatoria = Math.floor(Math.random() * posiciones.length);
                    if (posicion_aleatoria == 0 && ya_se_metio == false) {
                        indicie_respuesta_correcta = i;
                        ya_se_metio = true;
                    }
                    respuestas_reordenadas[i] = respuestas_posibles[posiciones[posicion_aleatoria]];
                    posiciones.splice(posicion_aleatoria, 1);
                }
                var txt_respuestas = "";
                txt_respuestas += '<div class="list"><ul>';
                for (i in respuestas_reordenadas) {
                    txt_respuestas += '<li><label class="item-radio item-content radiosResp"><input type="radio" name="my-radio" value="' + i + '"/><i class="icon icon-radio"></i><div class="item-inner"><div class="item-text textDato">' + respuestas_reordenadas[i] + '</div></div></label></li>';
                }
                txt_respuestas += '</ul></div>';
                document.getElementById("respuestas").innerHTML = txt_respuestas;
                document.getElementById("pregunta").innerHTML = "<h3>" + preguntas[indice_aleatorio] + "</h3>";
            },
            comprobar: function () {
                var self = this;
                var respuesta = $("input[type=radio]:checked").val();

                if (respuesta == indicie_respuesta_correcta) {
                    app.dialog.alert('¡Respuesta correcta!', 'Respuesta Elegida');
                } else {
                    app.dialog.alert('¡Respuesta incorrecta!', 'Respuesta Elegida');
                }
                self.jugar();
            }
        },
        on: {
            pageInit: function (page) {
                var self = this;

                self.jugar();
            }
        }
    }
</script>