<template>
	<div class="page">
		<div class="navbar">
			<div class="navbar-inner sliding">
				<div class="left">
					<a href="#" class="link back">
						<link rel="stylesheet" href="css/estilo.css">
						<i class="icon icon-back"></i>
						<span class="if-not-md">Back</span>
					</a>
				</div>
                <div class="title">RULETA DE INDICIOS</div>
                <div class="right">
                    <a href="/" class="homeppal">
                        <link rel="stylesheet" href="css/estilo.css">
                        <i class="f7-icons">house</i>
                        <span>INICIO</span>
                    </a>
                </div>
			</div>
        </div>

        
        <div class="toolbar toolbar-bottom fab-morph-target">
            <div class="toolbar-inner">
              <!-- Each Toolbar link will close FAB (morph back) on click -->
              <a class="link fab-close">Link 1</a>
              <a class="link fab-close">Link 2</a>
              <a class="link fab-close">Link 3</a>
            </div>
          </div>


          <div class="fab fab-left-bottom fab-morph color-blue" data-morph-to=".toolbar">
            <a href="#">
              <!-- Icons For iOS Theme -->
              <i class="icon f7-icons if-not-md">plus</i>
              <i class="icon f7-icons if-not-md">xmark</i>
              <!-- Icons For MD Theme -->
              <i class="icon material-icons md-only">add</i>
              <i class="icon material-icons md-only">close</i>
            </a>
          </div>


		<div class="page-content" id="ppalRuleta">

			<center>
				<button id="btn-girar" @click="rollWell" class="button button-fill button-large">Girar</button>
				<br>
                <br>
                <div class="fondo" width="438" height="582" aling="center" valign="center">
                    <canvas id="ruleta" width="500" height="500"></canvas>

                </div>

				<div>
					<a href="#" id="reset" class="button button-large button-raised" @click="resetWheel">Reset</a>
				</div>
			</center>

		</div>


    </div>
    

</template>
<script>
    return {
        data: function() {
            return {
                theWheel: null
            }
        },
        methods: {
            rollWell: function() {
                var self = this;
                var well = this.theWheel;
                audioPrueba.play();

                well.startAnimation();

            },
            playMusic: function() {
                var self = this;
                audioPrueba.play();
            },
            muteMusic: function() {
                var self = this;
                audioPrueba.pause();
            },
            resetWheel: function() {
                var self = this;
                var theWheel = this.theWheel
                theWheel.stopAnimation(false); // Stop the animation, false as param so does not call callback function.
                theWheel.rotationAngle = 0; // Re-set the wheel angle to 0 degrees.
                theWheel.draw(); // Call draw to render changes to the wheel.

                wheelSpinning = false; // Reset to false to power buttons and spin can be clicked again.
            }

        },
        on: {
            pageInit: function(page) {
                var self = this;


                Urls = ['/1/', '/2/', '/3/', '/4/', '/5/', '/6/', '/7/', '/8/', '/9/', '/10/', '/11/', '/12/',
                    '/13/', '/14/', '/15/', '/16/', '/17/', '/18/', '/19/', '/20/', '/21/'
                ];
                let theWheel = new Winwheel({
                    'canvasId': 'ruleta',
                    'innerRadius': 55,
                    'outerRadius': 180,
                    'numSegments': 21,
                    'segments': [{
                        'fillStyle': '#eae56f',
                        'text': '1',
                        'index': 0
                    }, {
                        'fillStyle': '#89f26e',
                        'text': '2',
                        'index': 1
                    }, {
                        'fillStyle': '#7de6ef',
                        'text': '3',
                        'index': 2
                    }, {
                        'fillStyle': '#e7706f',
                        'text': '4',
                        'index': 3
                    }, {
                        'fillStyle': '#e56f09',
                        'text': '5',
                        'index': 4
                    }, {
                        'fillStyle': '#E9FF33',
                        'text': '6',
                        'index': 5
                    }, {
                        'fillStyle': '#33FF61',
                        'text': '7',
                        'index': 6
                    }, {
                        'fillStyle': '#2CE3D8',
                        'text': '8',
                        'index': 7
                    }, {
                        'fillStyle': '#C2DD3E',
                        'text': '9',
                        'index': 8
                    }, {
                        'fillStyle': '#F3CE44',
                        'text': '10',
                        'index': 9
                    }, {
                        'fillStyle': '#5944F3',
                        'text': '11',
                        'index': 10
                    }, {
                        'fillStyle': '#A644F3',
                        'text': '12',
                        'index': 11
                    }, {
                        'fillStyle': '#D1F686',
                        'text': '13',
                        'index': 12
                    }, {
                        'fillStyle': '#ECD474',
                        'text': '14',
                        'index': 13
                    }, {
                        'fillStyle': '#92F6D3',
                        'text': '15',
                        'index': 14
                    }, {
                        'fillStyle': '#F692D2',
                        'text': '16',
                        'index': 15
                    }, {
                        'fillStyle': '#92DCF6',
                        'text': '17',
                        'index': 16
                    }, {
                        'fillStyle': '#F6DC92',
                        'text': '18',
                        'index': 17
                    }, {
                        'fillStyle': '#D5F692',
                        'text': '19',
                        'index': 18
                    }, {
                        'fillStyle': '#92B0F6',
                        'text': '20',
                        'index': 19
                    }, {
                        'fillStyle': '#D2F692',
                        'text': '21',
                        'index': 20
                    }, ],

                    'animation': {
                        'type': 'spinToStop',
                        'duration': 5,
                        'spins': 5,
                        'callbackFinished': redirection,
                        'callbackAfter': indicador,
                        'callbackSound': sonidoRuleta,
                        'soundTrigger': 'pin'

                    },

                    pins: {
                        'number': 12,
                        'outerRadius': 5,
                        'margin': 10,
                        'fillStyle': 'black',
                        'strokeStyle': '#ffffff'
                    },
                });

                let audio = new Audio('tick.mp3');
                /* let musica = new Audio('audio/WaterWorld.mp3');  */

                function sonidoRuleta() {
                    audio.pause();
                    audio.currentTime = 0;

                    audio.play();
                }

                indicador();

                function indicador() {
                    var ctx = theWheel.ctx;
                    ctx.strokeStyle = '#ffffff';
                    ctx.fillStyle = 'black';
                    ctx.lineWidth = 2;
                    ctx.beginPath();
                    ctx.moveTo(220, 0);
                    ctx.lineTo(290, 0);
                    ctx.lineTo(250, 80);
                    ctx.lineTo(210, 0);
                    ctx.stroke();
                    ctx.fill();
                }
                self.theWheel = theWheel;

                function redirection(indicatedSegment) {
                    console.log(indicatedSegment);
                    //deleteSegment(indicatedSegment);
                    setTimeout(function() {
                        app.views.main.router.navigate({
                            url: Urls[indicatedSegment.index]
                        })
                    }, 500);

                }

                function deleteSegment(indicatedSegment) {
                    //alert("You have won " + indicatedSegment.text);
                    theWheel.deleteSegment(indicatedSegment.index);
                    theWheel.draw();
                    indicador();
                }

            }

        }
    }
</script>